{{ form_start(form_comment, { 'attr': {'class': 'form--loadComment--wrapper col-md-6 animate__animated animate__fadeIn'} }) }}
    {{ form_widget(form_comment.content, { 'attr': {'placeholder': 'Оставьте комментарий', 'class': 'col-md-12'}, 'label': ' ' }) }}
    <button type="submit" class="btn btn-primary">Отправить</button>

{{ form_end(form_comment) }}

